<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo_11_27">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo_11_27">

        <activity
            android:name=".SecondActivity"
            android:exported="true" />
        <!--
           注意到application下面还有个activity节点，它是活动页面的注册声明，只有在AndroidManifest.xml中正确配置了activity节点，才能在运行时访问对应的活动页面。
           初始配置的MainActivity正是App的默认主页，之所以说该页面是App主页，是因为它的activity节点内部还配置了以下的过滤信息：
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!--
               其中action节点设置的android.intent.action.MAIN表示该页面是App的入口页面，启动App时会最先打开该页面。
               而category节点设置的android.intent.category.LAUNCHER决定了是否在手机屏幕上显示App图标，

               如果同时有两个activity节点内部都设置了android.intent.category.LAUNCHER，那么桌面就会显示两个App图标。
               以上的两种节点规则可能一开始不太好理解，读者只需记住默认主页必须同时配置这两种过滤规则即可
            -->
            <!--意图-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>